body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: large !important;
}

#logout {
    width: 100%;
}

#alert-icon {
    font-size: xx-large;
}

#list {
    max-height: 100%;
    overflow-y: auto;
}

#form > button {
    display: none;
}

#login-container {
    height: 100%;
}

.container-fluid {
    min-height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.card-header > div {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    align-items: center;
}

.border-left {
    border-left-width: 10px !important;
}

.desktop-hidden {
    display: none;
}

@media (max-width: 1200px) {
    body {
        overflow: auto;
    }

    p {
        font-size: x-large;
    }

    #list {
        max-height: unset;
        overflow-y: unset;
        max-width: unset;
    }

    #form {
        background-color: whitesmoke;
        position: absolute;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-100vw, 0);
        transition: all 0.3s ease-in-out;
    }

    #form form {
        width: 70%;
    }

    #form > button {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: xx-large;
    }

    #form > h2 {
        margin-top: -50px;
        margin-bottom: 20px;
    }

    #form.show {
        transform: translate(0, 0);
    }

    .container-fluid {
        grid-template-columns: 1fr;
    }

    .card-header span, h6 {
        font-size: x-large;
    }

    .desktop-hidden {
        display: block;
    }
}
