<form class="editor" *ngIf="listingDto" [formGroup]="listingForm">
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput type="number" formControlName="price" />
    <mat-error *ngIf="!isFormControlValid('price')"
      >Price is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select
      [placeholder]="listingDto.currency"
      formControlName="currency"
    >
      <mat-option
        *ngFor="let currency of currencies | keyvalue | slice: 4"
        [value]="currency.key"
        >{{ currency.key }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="!isFormControlValid('currency')"
      >Currency is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="!isFormControlValid('description')"
      >Should be between 1 & 255 chars</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Owner Id</mat-label>
    <div
      class="status"
      [matTooltip]="ownerName"
      [matTooltipDisabled]="!ownerExists"
    >
      <mat-icon color="primary" *ngIf="ownerExists && !searchingOwner"
        >check_circle</mat-icon
      >
      <mat-icon color="warn" *ngIf="!ownerExists && !searchingOwner"
        >error</mat-icon
      >
      <mat-spinner
        *ngIf="searchingOwner"
        [diameter]="25"
      ></mat-spinner>
    </div>
    <input
      matInput
      type="number"
      formControlName="ownerId"
      (change)="onOwnerIdChange($event.target.value)"
    />
    <mat-error *ngIf="!isFormControlValid('ownerId')"
      >An existing owner id is needed</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Property Id</mat-label>
    <div
      class="status"
      [matTooltip]="propertyType"
      [matTooltipDisabled]="!propertyExists"
    >
      <mat-icon
        color="primary"
        *ngIf="propertyExists && !searchingProperty"
        >check_circle</mat-icon
      >
      <mat-icon
        color="warn"
        *ngIf="!propertyExists && !searchingProperty"
        >error</mat-icon
      >
      <mat-spinner
        *ngIf="searchingProperty"
        [diameter]="25"
      ></mat-spinner>
    </div>
    <input
      matInput
      type="number"
      formControlName="propertyId"
      (change)="onPropertyIdChange($event.target.value)"
    />
    <mat-error *ngIf="!isFormControlValid('propertyId')"
      >An existing property id is needed</mat-error
    >
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSaveClicked()">
    Save
  </button>
</form>
