<div class="editor" *ngIf="owner">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      [formControl]="ownerControl"
      required
    />
    <mat-error *ngIf="!ownerControl.valid"
      >Name should be between 1 and 255 characters</mat-error
    >
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSaveClicked()">
    Save
  </button>
</div>
