<app-dashboard
  [length]="totalElements"
  title="Owners"
  (pageChanged)="onPageChanged($event)"
>
  <button
    mat-fab
    color="accent"
    class="add-button"
    (click)="addOwner()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <mat-grid-list [cols]="cols" rowHeight="200px">
    <mat-grid-tile
      *ngFor="let owner of owners"
      [colspan]="1"
      [rowspan]="1"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            #{{ owner.id }}, {{ owner.name }}
            <button
              mat-icon-button
              class="edit-button"
              aria-label="Edit entity"
              (click)="openEditor(owner)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="delete-button"
              aria-label="Delete entity"
              color="warn"
              (click)="deleteOwner(owner.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <p>
              <span class="mat-h3">Has:</span>
              {{ owner.listings.length }} listing(s)
            </p>
            <span *ngFor="let listing of owner.listings">
              <a
                (click)="openListingEditor(listing.id)"
                class="listing-link"
                >#{{ listing.id }}</a
              >
              |
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</app-dashboard>
