<form class="editor" *ngIf="property" [formGroup]="propertyForm">
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select [placeholder]="property.type" formControlName="type">
      <mat-option
        *ngFor="let type of types | keyvalue | slice: 3"
        [value]="type.key"
        >{{ type.key }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="!isFormControlValid('type')"
      >Type is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Size</mat-label>
    <input matInput type="number" formControlName="size" />
    <mat-error *ngIf="!isFormControlValid('size')"
      >Size is required</mat-error
    >
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSaveClicked()">
    Save
  </button>
</form>
