<button onclick="closeForm()" class="btn text-secondary">&times;</button>
<h1>Add New Property</h1>
<form id="property-form" method="post" action="./">
    <div class="form-group">
        <label for="owner-name">Owner:</label>
        <input id="owner-name" name="owner" class="form-control" type="text" required/>
    </div>
    <div class="form-group">
        <label for="type">Property type:</label>
        <select id="type" name="type" class="form-control mb-2">
            {{#each types}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <label for="size">Size:</label>
        <input type="number" id="size" name="size" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="description">Description: </label>
        <textarea id="description" class="form-control mb-2" name="description"></textarea>
        <label for="price">Price: </label>
        <input type="number" id="price" name="price" class="form-control mb-2" required>
        <select id="currency" name="currency" class="form-control">
            {{#each currencies}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4 form-control">Submit</button>
</form>
