<div class="accordion" id="accordion">
    {{#each listings}}
        <div class="card">
            <div class="card-header">
                <div
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse{{@index}}"
                >
                    <h6 class="m-0 text-muted">{{@index}}.</h6>
                    <div>
                        <span class="text-info mr-2">Type:</span>
                        <span class="text-primary">{{this.property.type}}</span>
                    </div>
                    <div>
                        <span class="text-info mr-2">Size:</span>
                        <span class="text-primary">{{this.property.size}}</span>
                    </div>
                    <div>
                        <span class="text-info mr-2">Price:</span>
                        <span class="text-primary">{{this.price}}</span>
                    </div>
                </div>
            </div>
            <div id="collapse{{@index}}" class="collapse" data-parent="#accordion">
                <div class="card-body d-flex flex-column">
                    <p class="mb-2 pl-2 border-left rounded-left border-primary">
                        Type: {{this.property.type}}</p>
                    <p class="mb-2 pl-2 border-left rounded-left border-info">Size: {{this.property.size}}</p>
                    <p class="mb-2 pl-2 border-left rounded-left border-success">Owner: {{this.owner.name}}</p>
                    <div class="mb-2 pl-2 border-left rounded-left border-warning">
                        <p>Description:</p>
                        <p class="pl-4">{{this.description}}</p>
                    </div>
                    <p class="mb-2 pl-2 border-left rounded-left border-danger">Price: <span
                            class="text-danger">{{this.price}}</span> {{this.currency}}</p>
                    <p class="border-left pl-2 rounded-left border-secondary">Posted on: {{this.date}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
