<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container d-flex flex-column justify-content-center align-items-center" id="login-container">
    {{#if this}}
        <div class="alert alert-danger d-flex align-items-center justify-content-space-around"
             role="alert"
        >
            <p class="text-danger m-0 p-0" id="alert-icon">!</p>
            <p class="text-secondary m-0 p-0">Incorrect credentials!</p>
        </div>
    {{/if}}
    <h1 class="text-secondary mb-5">Login</h1>
    <form id="login-form" method="post" action="./login">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" class="form-control mb-2">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" class="form-control mb-4">
        <button type="submit" class="btn btn-primary form-control">Login</button>
    </form>
</div>
</body>
</html>
