<app-dashboard
  [length]="totalElements"
  title="Properties"
  (pageChanged)="onPageChanged($event)"
>
  <button
    mat-fab
    color="accent"
    class="add-button"
    (click)="addProperty()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <mat-grid-list [cols]="cols" rowHeight="200px">
    <mat-grid-tile
      *ngFor="let property of properties"
      [colspan]="1"
      [rowspan]="1"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            #{{ property.id }}, {{ property.type }}
            <button
              mat-icon-button
              class="edit-button"
              aria-label="Edit entity"
              (click)="openEditor(property)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="delete-button"
              aria-label="Delete entity"
              color="warn"
              (click)="deleteProperty(property.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <p>
              <span class="mat-h3">Size:</span>{{ property.size }} m^2
            </p>
            <p>
              <span class="mat-h3">Appears in:</span>
              {{ property.listings.length }} listing(s)
            </p>
            <span *ngFor="let listing of property.listings">
              <a
                (click)="openListingEditor(listing.id)"
                class="listing-link"
                >#{{ listing.id }}</a
              >
              |
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</app-dashboard>
