<div class="grid-container">
  <h1 class="mat-h1">{{ title }}</h1>
  <ng-content></ng-content>
  <div class="paginator">
    <mat-paginator
      (page)="onPageChanged($event)"
      [pageSize]="size"
      [pageSizeOptions]="[1, 5, 10, 15]"
      [length]="length"
      [showFirstLastButtons]="true"
    ></mat-paginator>
  </div>
</div>
