.grid-container {
  margin: 20px;
}

.paginator {
  position: sticky;
  bottom: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: left;
}

.edit-button {
  position: absolute;
  top: 5px;
  right: 35px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.add-button {
  position: absolute;
  right: 30px;
  top: 75px;
}

.listing-link {
  color: blue;
  cursor: pointer;
}
