<app-dashboard
  [length]="totalElements"
  title="Listings"
  (pageChanged)="onPageChanged($event)"
>
  <button
    mat-fab
    color="accent"
    class="add-button"
    (click)="addListing()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <mat-grid-list [cols]="cols" rowHeight="300px">
    <mat-grid-tile
      *ngFor="let listing of listings"
      [colspan]="1"
      [rowspan]="1"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            #{{ listing.id }}, {{ listing.date | date }}
            <button
              mat-icon-button
              class="edit-button"
              aria-label="Edit entity"
              (click)="openEditor(listing)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="delete-button"
              aria-label="Delete entity"
              color="warn"
              (click)="deleteListing(listing.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <p>
              <span class="mat-h3">Price:</span> {{ listing.price }}
              {{ listing.currency }}
            </p>
            <p>
              <span class="mat-h3">Owner:</span>
              {{ listing.owner.name }}
            </p>
            <p>
              <span class="mat-h3">Size & Type:</span>
              {{ listing.property.size }} m^2
              {{ listing.property.type }}
            </p>
            <p>
              <span class="mat-h3">Description:</span>
              {{ listing.description }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</app-dashboard>
